.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  padding: 92px 88px 96px 50.52px;
}

.header__menu {
  padding-top: 4px;
}

.header__links-list {
  display: flex;
  gap: 33px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  list-style: circle;
  list-style-position: outside;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  border-bottom: 1px solid;
  text-decoration: none;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  display: block;
  width: 135px;
  height: 105px;
  margin-left: 25px;
}

.address {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}

.address a {
  border-bottom: 1px solid;
  text-decoration: none;
}

.header__address {
  justify-self: end;
}

/* секция cover */

.overlay:before {
  content: "";
  position: absolute;
  inset: 0;
  display: block;
  background-color: rgb(0 0 0 / .6);
}

.cover {
  position: relative;
  z-index: 1;
  padding: 165px 50px 51px;
  color: white;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.cover__title {
  position: relative;
  z-index: 1;
  margin-bottom: 135px;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: .3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  line-height: 115px;
}

.aligned-text_center {
  padding-top: 20px;
  line-height: 1;
  text-align: center;
}

.aligned-text_right {
  padding-top: 20px;
  line-height: 1;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: .6em;
}

.no-letter-spacing {
  letter-spacing: 0em;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.cover__description-text {
  padding-left: 28px;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 18.5px;
}

.bet-button {
  height: 51px;
  border: 1px solid currentColor;
  padding: 12px 32px 11px 31px;
  color: currentColor;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: transparent;
}

/* секция lots */

.lots {
  display: flex;
  flex-direction: column;
  margin: 179px 24px 146px;
}

.lots__heading {
  padding-bottom: 27px;
  padding-left: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 334px;
  min-height: 563px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 51px 40px 48px;
  color: white;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 1;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 1;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.lots__look-more-link {
  padding-top: 30px;
  padding-left: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

/* секция about */

.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "logo column column";
  gap: 25px;
  margin: 146px 24px 180px;
  padding-top: 35px;
}

.about__logo {
  display: flex;
  grid-area: logo;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 100%;
  background-color: black;
}

.about__logo-image {
  height: 114px;
}

.about__column {
  grid-area: column;
}

.about__title {
  padding-top: 100px;
  padding-bottom: 100px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.about__text {
  width: 690px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.about__text-padding-bottom {
  padding-bottom: 25px;
}

/* footer */

.footer {
  display: flex;
  justify-content: space-between;
  margin: 180px 50px 88px;
}

.footer__menu {
  padding-top: 1px;
  padding-left: 85px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-link {
  border-bottom: 1px solid;
  text-decoration: none;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  list-style: none;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
  margin-left: 48px;
}
